/* * {
    border: 1px dotted salmon;
} */

html {
    box-sizing: content-box;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    box-sizing: content-box;
    background-color: #0d0e1a;
    font-family: 'Work Sans', sans-serif;
    margin: 10px;
    margin-left: min(300px, 10%);
    margin-top: min(100px, 10%);
    color: whitesmoke;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    align-content: center;
    padding: 10px 10px;
    gap: 10px;
}

.header {
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.nav-link:hover {
    color: tomato;
}

.banner {
    flex-grow: 5;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: 500;
}

.banner {
    flex-grow: 5;
    color: white;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    color: rgb(156, 156, 156);
}

.big {
    font-size: 4rem;
    font-family: 'Lancelot', cursive;
}

.body {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px;
    justify-content: flex-start;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: min(20px, 10%);
}

.intro {
    width: min(600px, 90%);
    margin-bottom: min(20px, 10%);
}

.contact-link {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
}

.contact-link a {
    text-decoration: none;
    color: whitesmoke;
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.footer {
    margin-top: 100px;
    margin-bottom: -50px;
    height: 100px;
    font-size: .7rem;
    font-weight: 100;
    color: whitesmoke;
}